.toast{
    animation: fadeInOut 2.2s ease-in-out;
}
@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translatey(-100%);
    }

    30% {
      opacity: 1;
      transform: translatey(0);
    }
    60% {
      opacity: 1;
      transform: translatey(0);
    }

    100% {
      opacity: 0;
      transform: translatey(-110%);
    }
  }
  